*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(247, 247, 247);
  --dark: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #ffffff;
}

/* General button styling */
button {
  background-color: rgb(235, 230, 230);
  color: var(--dark);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  opacity: 0.8;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AppLayout {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  background-image: url("https://raw.githubusercontent.com/kamikillerto/vscode-colorize/master/assets/demo.gif");
}

.main {
  background-color: rgb(253, 251, 251);
  width: 100% 
}

li {
  list-style: none;
} 

.Modal {
  padding: 1rem;
  color: var(--white);
  height: 70vh;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* background-image:   */
  /* radial-gradient(
      circle at 70% 18%, 
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 41%,
      transparent 41%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 94%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 93% 63%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 85%,
      transparent 85%,
      transparent 100%
    ),
    radial-gradient(
      circle at 5% 85%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 8%,
      transparent 8%,
      transparent 100%
    ),
    radial-gradient(
      circle at 49% 93%,
      hsla(126, 0%, 77%, 0.05) 0%,
      hsla(126, 0%, 77%, 0.05) 37%,
      transparent 37%,
      transparent 100%
    ),  */
    /* linear-gradient(55deg, rgb(223, 219, 219), rgb(253, 250, 250));  */
}

.Modal input {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.Modal button {
  background-color: rgb(250, 246, 246);
  color: var(--dark);
  margin: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
}

.Modal a {
  color: white;
  cursor: pointer;
}

.AppLayout .codemirror {
  text-align: left;
  min-width: 90vw;
}

.console {
  text-align: left;
  min-height: 5rem;
  min-width: 90vw;
  padding: 1px;
  background-color: #282a36;
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
}
