body {
  background-color: rgb(247, 244, 244);
  font-family: Arial, Helvetica, sans-serif;
}

/* .app {
    width: 100vh;
    min-height: 100vh;
  } */

.AppLayout {
  background-color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

.Modal {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  background-size: cover;
  border-radius: 5px;
}

.Modal input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 50px;
  width: 150px;
  height: 25px;
}

.Modal button {
  background-color: rgb(240, 240, 240);
  font-size: 14px;
  width: 80px;
  height: 10px;
}

.Modal p {
  font-size: 10px;
}

.AppLayout .codemirror {
  text-align: left;
}

.console {
  text-align: left;
}
